@font-face {
  font-family: SF Pro;
  src: url('./SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SF Pro;
  src: url('./SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: SF Pro;
  src: url('./SF-Pro-Text-Thin.otf') format('opentype');
  font-weight: lighter;
}